.container1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/social-buttons-bg.png');
  background-size: cover; 
  background-position: center; 
  width: 100vw;
  height:120vh;
  display: flex;
  flex-direction:column;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}

.heading1 {
  font-size: 2rem;
  color: white; 
  font-weight:bold;
  font-size:50px;
  font-style:Bree serif;
  
}
.containers{
  display: flex;
  flex-direction:row;
  justify-content: center; 
  align-items: center; 
  padding:30px;
}
.likeButton{
  background-color:#eab308;
  border-radius:10px;
  border-width:0px;
  width:70px;
  height:40px;
  margin:8px;
}
.commentButton{
  background-color:white;
  border-radius:10px;
  border-width:0px;
  width:70px;
  height:40px;
  margin:8px;
}
.shareButton{
  background-color:#1d4ed8;
  border-radius:10px;
  border-width:0px;
  width:70px;
  height:40px;
  margin:8px;
}